body {
  background-color: green;
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

button.shuffle {
  display: block;
  margin: 10px auto;
}

.gameGrid {
  display: flex;
}

.gameTile {
  width: 200px;
  height: 100px;
  background-color: #0007;
  margin: 20px;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  color: black;
  min-width: 100px;
  min-height: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}

.cardTopLeft {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.smallSuit {
  height: 16px;
  width: 16px;

  justify-self: center;
  align-self: center;
}

.cardBottomRight {
  display: flex;
  justify-content: flex-end;
}
